<div class="container-fluid">
  <p>
    <strong>Title:</strong>
    <%= @room.title %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @room.code %>
  </p>



  <%= link_to 'Lessons', building_room_lessons_path(room_id: @room.id) %>
|
  <%= link_to 'New lesson', new_building_room_lesson_path(room_id: @room.id) %>

  <br />
  <br />



  <%= link_to 'Edit', edit_building_path(@building) %> |
  <%= link_to 'Delete',
              building_path(@building),
              method: :delete,
              data: { confirm: 'Jsi si jistý?' } %>  |
  <%= link_to 'Back', building_path(params[:building_id]) %>

</div>